<h1>Buscar por pessoa</h1>
<div>
  <input
    type="search"
    [(ngModel)]="personSearchName"
    (keyup.enter)="getPerson()"
  />
</div>
<br/>
<p>Pessoa encontrada: {{ (foundPerson$ | async)?.name }}</p>
<br/>
<h3>Adicionar pessoa </h3>
<div>
  <input type="text" [(ngModel)]="personAddName" (keyup.enter)="addPerson()"/>
</div>
<br/>
<p>Listar pessoas</p>
<span *ngFor="let person of persons$ | async" (click)="getDataUpdate(person)">
  {{ person.name }},
</span>
<h3>Atualizar nome</h3>
<input type="text" [(ngModel)]="personNameUpdate" (keyup.enter)="updateName()"/>
